<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div>Курс валют:</div>
    <div>Актуальное время: <span th:text="${time}"></span></div>
    <div>USD: <span th:text="${usd}"></span></div>
    <div>EUR: <span th:text="${euro}"></span></div>
</header>
<div>
<form action="/exchange">
    <select name="firstCurrency">
        <option selected="selected" disabled>Выберите вашу валюту для перевода</option>
        <option value="RUB">Рубли</option>
        <option value="USD">Доллары</option>
        <option value="EUR">Евро</option>
        <option value="CHF">Швейцарсике франки</option>
        <option value="GBP">Фунт</option>
    </select>
    <select name="secondCurrency">
    <option selected="selected" disabled>Выберите в какую валюту переводить</option>
    <option value="RUB">Рубли</option>
    <option value="USD">Доллары</option>
    <option value="EUR">Евро</option>
    <option value="CHF">Швейцарсике франки</option>
    <option value="GBP">Фунт</option>
    </select>
    <script th:src="@{script.js}">
    </script>
    <button onclick="exchange()"></button>
</form>

<p th:text="${answer}"></p>
</div>
</body>
</html>