<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
<header>
    <div>Курс валют:</div>
    <div>Актуальное время курса по UTC(+0): <span th:text="${time}"></span></div>
    <div>USD: <span th:text="${usd}"></span></div>
    <div>EUR: <span th:text="${euro}"></span></div>
    <div>CHF: <span th:text="${frank}"></span></div>
    <div>GBP: <span th:text="${funt}"></span></div>
</header>
<div>
<form action="/exchange">
    <div class="select">
    <select name="firstCurrency">
        <option selected="selected" disabled>Выберите вашу валюту для перевода</option>
        <option value="RUB">Рубли</option>
        <option value="USD">Доллары</option>
        <option value="EUR">Евро</option>
        <option value="CHF">Швейцарсике франки</option>
        <option value="GBP">Фунт</option>
    </select>
    <select name="secondCurrency">
    <option selected="selected" disabled>Выберите в какую валюту переводить</option>
    <option value="RUB">Рубли</option>
    <option value="USD">Доллары</option>
    <option value="EUR">Евро</option>
    <option value="CHF">Швейцарсике франки</option>
    <option value="GBP">Фунт</option>
    </select>
    </div>
    <input type="text" placeholder="Количество валюты" id="currCount" name="currCount">
    <button>Отправить</button>
    <div id="currencyId"></div>
</form>
    <div th:text="${answer}"></div>
</div>
</body>
</html>