<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="form">
    <select name="firstCurrency">
        <option selected="selected" disabled>Выберите вашу валюту для перевода</option>
        <option value="RUB">Рубли</option>
        <option value="USD">Доллары</option>
        <option value="EUR">Евро</option>
        <option value="CHF">Швейцарсике франки</option>
        <option value="GBP">Фунт</option>
    </select>
    <select name="secondCurrency">
    <option selected="selected" disabled>Выберите в какую валюту переводить</option>
    <option value="RUB">Рубли</option>
    <option value="USD">Доллары</option>
    <option value="EUR">Евро</option>
    <option value="CHF">Швейцарсике франки</option>
    <option value="GBP">Фунт</option>
    </select>
    <input type="submit" onclick="exchange()">
</form>
<script th:src="@{script.js}"></script>
<p th:text="${answer}"></p>
</body>
</html>